</div>

{{ $.Scratch.Set "navBaseUrl" "https://tvarit.com" }}
{{ $.Scratch.Set "docsUrl" "http://tvarit.com/docs" }}
{{ $baseUrl := (printf "%v" $.Site.BaseURL) }}

{{ if hasPrefix $baseUrl "http://localhost" }}
	{{ $.Scratch.Set "navBaseUrl" "http://localhost"}}
	{{ $.Scratch.Set "docsUrl" "http://localhost:3004"}}
{{ end }}

{{ if hasPrefix $baseUrl "http://staging" }}
	{{ $.Scratch.Set "navBaseUrl" "http://grafana-net.raintank.io"}}
	{{ $.Scratch.Set "docsUrl" "http://staging-docs.grafana.org"}}
{{ end }}

{{ $navBaseUrl := .Scratch.Get "navBaseUrl" }}
{{ $docsUrl := .Scratch.Get "docsUrl" }}

<div class="page-footer wrapper" data-reactid="166">   
   <p class="meta" data-reactid="230">
	   Copyright 2019 © Tvarit - APA
   </p>
</div>

{{ if .IsPage }}
	{{ if eq .Type "docs" }}
		<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
		<script type="text/javascript"> docsearch({
			apiKey: '0bd2bd6939038c5ce2c9395732dcf040',
			indexName: 'grafana',
			inputSelector: '#docs-search-input',
			debug: true // Set debug to true if you want to inspect the dropdown
		});
		</script>
	{{ end }}
{{ end }}
