// =========================================================================
// GRID
// =========================================================================



// Wrapper
// -------------------------------------------------------------------------

.wrapper {
  @include clearfix;
  padding: 0 0px;

  @include at-least(small) {
    max-width: 1240px;
    margin: 0 auto;
  }

  @include at-least(1240px) {
    margin-left: 1em;
    margin-right: 0;
  }
}

@import './grid/flexbox-grid';
